* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Apple Color Emoji, Arial, Segoe UI Emoji, Segoe UI Symbol !important;
}

.main-body {
    display: flex;
}

.leftSideSection {
    padding: 20px;
    width: 350px;
    background-color: #171717;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Header {
    display: flex;
    justify-content: space-between;
}

img {
    filter: brightness(0) invert(1);
    height: 30px;
    width: 30px;
}

.editor img {
    height: 20px;
    width: 20px;
}

.newChat img {
    margin-right: 5px;
    padding: 4px;
    border: 1px solid #ececec21;
    border-radius: 50%;
}

.newChat {
    display: flex;
    align-items: center;
}

.newChat p {
    font-size: 0.9rem;
    font-weight: 500;
}

h6 {
    font-size: .875rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.signIn p {
    font-size: .875rem;
    color: #cdcdcd;
    line-height: 1.25rem;
}

.signUp {
    width: 100%;
    background-color: rgb(16 163 127);
    align-items: center;
    border-color: transparent;
    border-radius: .5rem;
    border-width: 1px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    min-height: 38px;
    padding: .5rem .75rem;
    margin: 10px 0px 6px 0px;
    color: #fff;
}

.logIn {
    width: 100%;
    align-items: center;
    border-color: transparent;
    border-radius: .5rem;
    border-width: 1px;
    font-size: .875rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25rem;
    min-height: 38px;
    padding: .5rem .75rem;
    pointer-events: auto;
    background-color: #212121;
    color: #fff;
    border: 1px solid #ececec21;
}

.rightsideSection {
    background-color: #212121;
    width: 100%;
}

.title h3 {
    color: #fff;
    font-weight: 500;
    margin: 15px 0px 0px 15px;
    font-weight: 500;
    font-size: 17px;
}

.body-Sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
}

.body-Sec img {
    border: 1px solid #ececec21;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
}

.rightsideSection .inputArea textarea {
    position: absolute;
    bottom: 10px;
    left: 38%;
    background-color: transparent;
    border: 1px solid #373737;
    resize: none;
    border-radius: 1rem;
    width: 40%;
    height: 52px;

}

textarea::placeholder {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
}

.automated {
    position: absolute;
    bottom: 80px;
    left: 38%;
}